In [2]:
import os 
os.chdir('../')
from utils.scheduler import PolyLR

In [1]:
import sqlite3
con = sqlite3.connect("../../data/hpo_exps/db/nni.sqlite")
cur = con.cursor()

In [2]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('TrialJobEvent',), ('MetricData',), ('ExperimentProfile',)]

In [3]:
import pandas as pd

exp_profile = pd.read_sql_query("SELECT * FROM ExperimentProfile;",con)

metric_data = pd.read_sql_query("SELECT * FROM MetricData;",con)

trial_event = pd.read_sql_query("SELECT * FROM TrialJobEvent;",con)

In [4]:
trial_event.head()

,timestamp,trialJobId,event,data,logPath,sequenceId,message
0,1655556538817,LSaZs,WAITING,"{""parameter_id"": 0, ""parameter_source"": ""algor...",file://localhost:/home/nys/nni-experiments/ct6...,0.0,None
1,1655556543832,LSaZs,RUNNING,None,file://localhost:/home/nys/nni-experiments/ct6...,0.0,None
2,1655557457275,LSaZs,SUCCEEDED,None,file://localhost:/home/nys/nni-experiments/ct6...,0.0,None
3,1655557464335,U79fK,WAITING,"{""parameter_id"": 1, ""parameter_source"": ""algor...",file://localhost:/home/nys/nni-experiments/ct6...,1.0,None
4,1655557468881,U79fK,RUNNING,None,file://localhost:/home/nys/nni-experiments/ct6...,1.0,None

In [5]:
metric_data.head()

,timestamp,trialJobId,parameterId,type,sequence,data
0,1655556835469,LSaZs,0,PERIODICAL,0,"""0.4608441226262695"""
1,1655557121614,LSaZs,0,PERIODICAL,1,"""0.563622420338415"""
2,1655557408116,LSaZs,0,PERIODICAL,2,"""0.5894743193028411"""
3,1655557456431,LSaZs,0,FINAL,0,"""0.3924661917723289"""
4,1655557760584,U79fK,1,PERIODICAL,0,"""0.31098570485427973"""

In [6]:
exp_profile.head()

,params,id,execDuration,startTime,endTime,logDir,nextSequenceId,revision
0,"{""searchSpaceFile"":""/home/nys/Desktop/study_20...",ct6i9b25,0,1655556533722,NaN,/home/nys/nni-experiments/ct6i9b25,0,1
1,"{""searchSpaceFile"":""/home/nys/Desktop/study_20...",ct6i9b25,0,1655556533722,NaN,/home/nys/nni-experiments/ct6i9b25,0,2
2,"{""searchSpaceFile"":""/home/nys/Desktop/study_20...",ct6i9b25,4,1655556533722,NaN,/home/nys/nni-experiments/ct6i9b25,1,3
3,"{""searchSpaceFile"":""/home/nys/Desktop/study_20...",ct6i9b25,10,1655556533722,NaN,/home/nys/nni-experiments/ct6i9b25,1,4
4,"{""searchSpaceFile"":""/home/nys/Desktop/study_20...",ct6i9b25,20,1655556533722,NaN,/home/nys/nni-experiments/ct6i9b25,1,5